html{
	background-color:lightyellow;
}

.answer{
	font-size:130%;
	color:red;
}

.warning{
	font-size:60%;
}

#dummy{
	position:absolute;
	z-index:1;
}

#overDummy{
	position:absolute;
	background-color:lightyellow;
	height:250px;
	width:100%;
	z-index:2;
}
