@(voices: List[String],language: String)
@main("PinYin trainer"){
	<h2>@langs.Language.set(language,"title")</h2>
	<ol>
	@for(i:Int <- 0 to voices.size()-1){
		<li>
		<audio controls>
  		<source src="/assets/sounds/@{voices.get(i)+".ogg"}" type="audio/ogg">
  		<source src="/assets/sounds/@{voices.get(i)+".mp3"}" type="audio/mpeg">
 		@langs.Language.set(language,"not-supported")
		</audio>
		<button onClick="show(@i)">@langs.Language.set(language,"show")</button>
		<span id="resultat@i" style="display:none" class="answer">@sounds.Converter.toAccent(voices.get(i))</span>
		</li>
	}
	</ol>
	<button id="showall" onClick="showAll()">@langs.Language.set(language,"showall")</button>
	<a href="/">@langs.Language.set(language,"again")</a>
	<p>@langs.Language.set(language,"play-exp")</p>
<input id="texte" type="text"><button onClick="play()">@langs.Language.set(language,"go")</button>
<p class="warning">@langs.Language.set(language,"warning")</p>
<p id="dummy"></p>
<div id="overDummy"></div>
<script>
function show(i){
	$('#resultat'+i).attr('style','display:inline');
}
function hide(i){
	$('#resultat'+i).attr('style','display:none');
}
function showAll(){
	for(var i = 0;i<@voices.size();i++){
		show(i);
	}
	$('#showall').replaceWith('<button id="showall" onClick="hideAll()">@langs.Language.set(language,"hideall")</button>');
}
function hideAll(){
	for(var i = 0;i<@voices.size();i++){
		hide(i);
	}
	$('#showall').replaceWith('<button id="showall" onClick="showAll()">@langs.Language.set(language,"showall")</button>');
}
function play(){
	var content = $('#texte').val();
	playSound('/assets/sounds/'+content+'.mp3');
}
function playSound(soundfile){
	document.getElementById('dummy').innerHTML="<embed src=\""+soundfile+"\" autostart=\"true\" loop=\"false\" />";
}
</script>
}
