@(voices: List[String])
@main("PinYin trainer"){
<style>
audio{
	position:relative;
	top:6px;
}
</style>
	<h2>Here you can test your understanding of Chinese syllables</h2>
	<ol>
	@for(i:Int <- 0 to voices.size()-1){
		<li>
		<audio controls>
  		<source src="/assets/sounds/@{voices.get(i)+".ogg"}" type="audio/ogg">
  		<source src="/assets/sounds/@{voices.get(i)+".mp3"}" type="audio/mpeg">
 		Your browser does not support the audio tag.
		</audio>
		<button onClick="show(@i)">Show answer</button>
		<span id="resultat@i" style="display:none" class="answer">@sounds.Converter.toAccent(voices.get(i))</span>
		</li>
	}
	</ol>
	<button id="showall" onClick="showAll()">Show all answers</button>
	<a href="/">Do it again</a>
	<p>Play the syllable you want : (type sha4, le5 or bian1 for example)</p>
<input id="texte" type="text"><button onClick="play()">GO !</button>
<p id="dummy"></p>
<div id="overDummy"></div>
<script>
function show(i){
	$('#resultat'+i).attr('style','display:inline');
}
function hide(i){
	$('#resultat'+i).attr('style','display:none');
}
function showAll(){
	for(var i = 0;i<@voices.size();i++){
		show(i);
	}
	$('#showall').replaceWith('<button id="showall" onClick="hideAll()">Hide all answers</button>');
}
function hideAll(){
	for(var i = 0;i<@voices.size();i++){
		hide(i);
	}
	$('#showall').replaceWith('<button id="showall" onClick="showAll()">Show all answers</button>');
}
function play(){
	var content = $('#texte').val();
	playSound('/assets/sounds/'+content+'.mp3');
}
function playSound(soundfile){
	document.getElementById('dummy').innerHTML="<embed src=\""+soundfile+"\" autostart=\"true\" loop=\"false\" />";
}
</script>
}
