@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
	<meta name="google-site-verification" content="Rtv_DTg4tT7XaHAW37Xj-Y7tKPSmIKFwCBYKc0g0hCc" />
	<meta name="keywords" content="Train your oral recognition of the Chinese language with PinYin trainer made by siriusxiv">
	<meta name="description" content="Train your oral recognition of the Chinese language with PinYin trainer made by siriusxiv">
	<meta name="author" content="siriusxiv">
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </head>
    <body>
        @content
    </body>
</html>
